body {
    padding-top: 50px; /* Adjusted for fixed navbar */
  }

  /* Display child information in a table on the right side */
  #childInfoTable {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }

  /* Style for clock */
  #clock {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
  }