body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

#taskInput {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.taskItem {
    display: flex;
    align-items: center;
    margin: 8px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.taskItem input[type="checkbox"] {
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

#childInfoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#childInfoContainer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#childName,
#childAge,
#childGender {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#closePopup {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#clockContainer {
    text-align: center;
    margin-top: 20px;
}

#analogClock {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

#hourHand,
#minuteHand,
#secondHand {
    position: absolute;
    transform-origin: 50% 100%;
    background: #333;
    transition: transform 0.5s cubic-bezier(0.4, 2.2, 0.5, 1);
}

#digitalClock {
    font-size: 20px;
    margin-top: 10px;
}